@use "base/resets";
@use "base/typography";
@use "base/vendors";

@use "abstract/colors";
@use "abstract/variables";

@use "layout/header";
@use "layout/main";
@use "layout/sidebar";

@use "pages/login";
@use "pages/scoreboard";
@use "pages/materials";



@use "pages/schedule";
@use "pages/calander";
@use "pages/epal";
// Components Files
@use "pages/quiz-system";
@use "pages/settingsUI";
@use "pages/staffUI";

body {
    display: flex;
    overflow: hidden;
}

.wrapper {
    width: calc(100% - var(--sidebar-width));
    flex-grow: 1;


}

.user-img-sm {
    width: 2rem;
    height: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



// main styles
// body {
//     display: flex;
// }
// .wrapper {
//     /*main wrapper*/
//     flex: 1; /* equivelient to width:100% */
//     height: 100%;
//     display: flex;
//     flex-direction: column;
// }

// .sidebar,
// .navbar {
//     display: grid;
//     place-items: center;
// }

// .sidebar {
//     // background-color: #efefef;
//     border-right: 1px solid gray;
//     width: 60px;
//     height: 100%;
// }


// .navbar {
//     // background-color: orange;
//     border-bottom: 1px solid gray;
//     height: 50px;
//     width: 100%;
// }

// .content {
//     flex: 1;
//     height: calc(100% - 50px);
//     overflow-y: auto;
//     // position: relative;
// }

// @media (max-width: 800px) {
//     .sidebar {
//         display: none;
//     }

//     .quiz-wrapper {
//         flex-direction: column;
//         overflow-y: auto;

//         &__info-section {
//             min-width: 100%;
//             border-bottom: 1px solid;
//         }
//         &__quesion-section {
//             overflow-y: visible;
//         }
//     }

//     .results-pop {
//         width: 90%;
//         height: 90%;

//         .wrap {
//             flex-direction: column;
//         }

//         .analysis {
//             padding: 0;
//             height: 80%;
//         }
//     }
// }