.main-scoreboard {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--clr-white);
    padding: var(--padding-med);
    gap: calc(var(--padding) * 2);

    &__scoreboard {
        position: relative;
        flex-shrink: 0;
        background-color: var(--clr-primary-100);
        height: min(30%, 200px);
        color: white;
        border-radius: var(--border-raduis-med);
        padding: var(--padding) calc(var(--padding) * 2);
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__wave-number {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 1rem;
            font-weight: normal;
            display: flex;
            gap: 10px;
            align-items: center;

            span {
                background-color: white;
                color: var(--clr-primary-100);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1ch;
                border-radius: 4px;
                width: 2ch;
                height: 2ch;
            }
        }

        &__wave-name {
            margin-bottom: 5px;
            text-transform: uppercase;
            font-size: 1.5rem;
        }

        &__wave-slogen {
            font-size: 0.7rem;
            font-weight: normal;
            font-style: italic;
            opacity: 0.5;
        }

        &__img {
            position: absolute;
            height: 60%;
            right: min(10px, 10%);
        }
    }

    &__table {
        flex: 1;
        max-height: 100%;
        overflow-y: auto;
        // flex-shrink: 0;

        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 8px;
            font-size: 0.7rem;

            td:nth-child(1),
            th:nth-child(1),
            td:nth-child(5),
            th:nth-child(5),
            th:nth-child(4),
            td:nth-child(4),
            td:last-child,
            th:last-child {
                text-align: center;
                padding: 0;
            }

            td:nth-child(1),
            th:nth-child(1) {
                width: 30px;
            }

            th,
            td {
                padding: 0 10px;
                text-align: left;
                height: 40px;
            }

            // Table head
            thead {
                tr {
                    color: var(--clr-seperator);

                    th {
                        background-color: var(--clr-white);
                        z-index: 22;
                        font-weight: 100;
                        // border: 2px solid;
                        position: sticky;
                        top: 0;
                        // color: red;
                    }
                }
            }

            // Table body
            tbody {
                border-collapse: separate;
                // flex-shrink: 0;

                tr {
                    height: 40px;
                    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                    background-color: var(--clr-secondary-100);

                    td:first-child {
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }
                    td:last-child {
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }

                    &:hover {
                        background-color: #eee;
                        cursor: pointer;
                    }

                    .name {
                        display: flex;
                        align-items: center;
                        .img {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 30px;
                            width: 30px;
                            overflow: hidden;
                            border-radius: 50%;
                            // border: 2px solid var(--clr-primary-100);
                            margin-right: 10px;

                            img {
                                scale: 1.2;
                            }
                        }
                    }
                }
            }

            @media (max-width: 700px) {
                td:nth-child(3),
                thead :nth-child(3) {
                    display: none;
                }
            }
        }
    }

    @media (max-width: 700px) {
        height: min(30%, 150px);
    }
}

.student-score-profile {
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(0 0 0 / 0.3), var(--box-shadow-ds);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 80%;
    z-index: 33;
    border-radius: 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
    gap: 20px;

    &__banner {
        border-radius: 10px;
        background-color: var(--clr-primary-100);
        padding: var(--padding-med);
        display: flex;
        align-items: center;
        color: white;

        &__img {
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 20px;

            img {
                height: 100%;
            }
        }

        &__titlebox {
            display: flex;
            flex-direction: column;

            &__title {
                font-weight: 600;
            }
        }

        &__points {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__number {
                font-size: 3rem;
                font-weight: bold;
            }
        }
    }

    &__details {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 12px;

        &__detailbox {
            border: 2px solid var(--clr-secondary-100);
            border-radius: 10px;
            height: 60px;
            display: flex;
            padding: 4px;
            align-items: center;
            gap: var(--gap);

            &__icon {
                background-color: var(--clr-secondary-100);
                border-radius: var(--border-raduis-xmed);
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: calc(60px - 8px);
                color: var(--clr-primary-100);
            }

            &__titlebox {
                &__title {
                    font-size: 1rem;
                    font-weight: 600;
                }

                &__number {
                    font-size: 0.8rem;
                    opacity: 0.8;
                }
            }
        }

        @media (max-width: 700px) {
            max-height: 300px;
            overflow-y: auto;
        }
    }

    &--active {
        display: flex;
    }
}

.banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.2);
    // background-color: red;
    z-index: 23;
    display: none;

    &--active {
        display: block;
    }
}
