<div class="ai-bot">
    <div class="ai-bot__info-container">

        <div class="ai-bot__info-container__header" data-bot-header="">
            <div class="ai-bot__info-container__icon">
                <div class="fa-solid fa-robot"></div>
            </div>
            <div class="ai-bot__info-container__body">
                <h3>E-Pal</h3>
                <p>Digital Assistant</p>
            </div>
            <i class="fa-solid fa-angle-down"></i>
        </div>


        <div class="ai-bot__info-container__content" data-bot-content="">
            <div>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores impedit itaque voluptatibus
                incidunt, nostrum doloribus saepe ea mollitia iure architecto, voluptates repellat consectetur nulla.
                Iste sit repudiandae itaque est mollitia!
            </div>
        </div>


    </div>

    <div class="ai-bot__message-container" data-message-container="">

        <div class="ai-bot__message-container__message" data-message-source="default">
            Hi, I'm your digital Assistant ready to help you.
            <br>
            Ask me anything!
        </div>


    </div>

    <div class="ai-bot__message-intput">
        <input type="text" placeholder="Ask the bot..." data-message-input="">
        <div class="ai-bot__message-intput__icon" data-send-button="">
            <i class="fa-solid fa-paper-plane"></i>
        </div>
    </div>
    <!-- <div class="ai-bot__"></div> -->
</div>