<div class="main__controls">
  <button class="edit-mode-btn">
    <i class="fa-solid fa-grip"></i>
  </button>
</div>


<div class="main__grid">

  <!-- <div class="main__grid__widget aspect-1x3-sm">

    <div class="handle"></div>
  </div>
  
  <div class="main__grid__widget aspect-1x3-sm">

    <div class="handle"></div>
  </div>
  
  <div class="main__grid__widget aspect-1x3-sm">

    <div class="handle"></div>
  </div>

  <div class="main__grid__widget main__grid__widget__scoreboard aspect-1x3-lg">

    <div class="handle"></div>
  </div>

  <div class="main__grid__widget main__grid__widget__calendar aspect-1x1-med">

    <div class="handle"></div>
  </div> -->

  <div class="main__grid__widget main__grid__widget__student-number aspect-1x3-sm">

    <div class="main__grid__widget__student-number__icon">
      <div class="fa-solid fa-users"></div>
    </div>

    <div class="main__grid__widget__student-number__content">
      <h3>12</h3>
      <p>Total Absence</p>
    </div>

    <div class="handle"></div>
  </div>

  <div class="main__grid__widget main__grid__widget__student-number aspect-1x3-sm">

    <div class="main__grid__widget__student-number__icon">
      <div class="fa-solid fa-book-open-reader"></div>
    </div>

    <div class="main__grid__widget__student-number__content">
      <h3>7</h3>
      <p>Registered Students</p>
    </div>

    <div class="handle"></div>
  </div>

  <div class="main__grid__widget main__grid__widget__student-number aspect-1x3-sm">

    <div class="main__grid__widget__student-number__icon">
      <div class="fa-solid fa-users"></div>
    </div>

    <div class="main__grid__widget__student-number__content">
      <h3>2.911</h3>
      <p>CGPA</p>
    </div>

    <div class="handle"></div>
  </div>

  <div class="main__grid__widget main__grid__widget__scoreboard main__grid__widget__courses aspect-1x3-lg">
    <div class="main__grid__widget__courses__header">
      <h3>Messages</h3>
      <span>4</span>
    </div>

    <ul class="main__grid__widget__courses__content">

      <li class="main__grid__widget__courses__content__element">
        <div class="main__grid__widget__courses__content__element__content">
          <h4>Dr name</h4>
          <p>message header</p>
        </div>
        <button>view</button>
      </li>

      <li class="main__grid__widget__courses__content__element">
        <div class="main__grid__widget__courses__content__element__content">
          <h4>Dr name</h4>
          <p>message header</p>
        </div>
        <button>view</button>
      </li>

      <li class="main__grid__widget__courses__content__element">
        <div class="main__grid__widget__courses__content__element__content">
          <h4>Dr name</h4>
          <p>message header</p>
        </div>
        <button>view</button>
      </li>

      <li class="main__grid__widget__courses__content__element">
        <div class="main__grid__widget__courses__content__element__content">
          <h4>Dr name</h4>
          <p>message header</p>
        </div>
        <button>view</button>
      </li>

      <li class="main__grid__widget__courses__content__element">
        <div class="main__grid__widget__courses__content__element__content">
          <h4>Dr name</h4>
          <p>message header</p>
        </div>
        <button>view</button>
      </li>

      <li class="main__grid__widget__courses__content__element">
        <div class="main__grid__widget__courses__content__element__content">
          <h4>Dr name</h4>
          <p>message header</p>
        </div>
        <button>view</button>
      </li>

      <li class="main__grid__widget__courses__content__element">
        <div class="main__grid__widget__courses__content__element__content">
          <h4>Dr name</h4>
          <p>message header</p>
        </div>
        <button>view</button>
      </li>

    </ul>
    <div class="handle"></div>
  </div>

  <div class="main__grid__widget main__grid__widget__calendar aspect-1x1-med">
    Calendar
    <div class="handle"></div>
  </div>

  <div class="main__grid__widget main__grid__widget__calendar aspect-1x1-med">
    Calendar
    <div class="handle"></div>
  </div>

  <div class="main__grid__widget main__grid__widget__calendar aspect-1x1-med">
    Calendar
    <div class="handle"></div>
  </div>

  <div class="main__grid__widget main__grid__widget__calendar aspect-1x1-med">
    Calendar
    <div class="handle"></div>
  </div>

</div>