
    <div class="main__controls">
        <button class="edit-mode-btn">
            <i class="fa-solid fa-grip"></i>
        </button>
    </div>
    
    
    <div class="main__grid">
        <div class="main__grid__widget aspect-1x3-lg">
            <i class="fa-solid fa-chart-line"></i>
            <div class="handle"></div>
        </div>

        <div class="main__grid__widget aspect-1x3-sm">
            <i class="fa-solid fa-van-shuttle"></i>
            <div class="handle"></div>
        </div>

        <div class="main__grid__widget aspect-1x1-med">
            <i class="fa-solid fa-calendar"></i>
            <div class="handle"></div>
        </div>

        <div class="main__grid__widget aspect-1x3-sm">
            <i class="fa-solid fa-bicycle"></i>
            <div class="handle"></div>
        </div>

        <div class="main__grid__widget aspect-1x3-sm">
            <i class="fa-solid fa-motorcycle"></i>
            <div class="handle"></div>
        </div>

        <div class="main__grid__widget aspect-1x6">
            <i class="fa-solid fa-gamepad"></i>
            <div class="handle"></div>
        </div>

        <div class="main__grid__widget aspect-1x3-sm">
            <i class="fa-solid fa-cake-candles"></i>
            <div class="handle"></div>
        </div>

        <div class="main__grid__widget aspect-1x1-med">
            <i class="fa-regular fa-calendar-check"></i>
            <div class="handle"></div>
        </div>

        <div class="main__grid__widget aspect-1x3-sm">
            <i class="fa-solid fa-person-hiking"></i>
            <div class="handle"></div>
        </div>

        <div class="main__grid__widget aspect-1x3-sm">
            <i class="fa-solid fa-chart-simple"></i>
            <div class="handle"></div>
        </div>

        <div class="main__grid__widget aspect-1x3-sm">
            <i class="fa-solid fa-person-hiking"></i>
            <div class="handle"></div>
        </div>

        <div class="main__grid__widget aspect-1x3-sm">
            <i class="fa-solid fa-chart-simple"></i>
            <div class="handle"></div>
        </div>

        <div class="main__grid__widget aspect-1x3-sm">
            <i class="fa-solid fa-person-hiking"></i>
            <div class="handle"></div>
        </div>

        <div class="main__grid__widget aspect-1x3-sm">
            <i class="fa-solid fa-chart-simple"></i>
            <div class="handle"></div>
        </div>
