<div class="main__controls">
  <button class="edit-mode-btn">
    <i class="fa-solid fa-grip"></i>
  </button>
</div>


<div class="main__grid">
  
  <div class="main__grid__widget main__grid__widget__student-number aspect-1x3-sm">

    <div class="main__grid__widget__student-number__icon">
      <div class="fa-solid fa-users"></div>
    </div>
    
    <div class="main__grid__widget__student-number__content">
      <h3>3200</h3>
      <p>Total Students</p>
    </div>

    <div class="handle"></div>
  </div>
  
  <div class="main__grid__widget main__grid__widget__student-number aspect-1x3-sm">

    <div class="main__grid__widget__student-number__icon">
      <div class="fa-solid fa-book-open-reader"></div>
    </div>

    <div class="main__grid__widget__student-number__content">
      <h3>7</h3>
      <p>Total Courses</p>
    </div>

    <div class="handle"></div>
  </div>
  
  <div class="main__grid__widget main__grid__widget__student-number aspect-1x3-sm">

    <div class="main__grid__widget__student-number__icon">
      <div class="fa-solid fa-users"></div>
    </div>

    <div class="main__grid__widget__student-number__content">
      <h3>--</h3>
      <p>xxxxx xx xxxx</p>
    </div>

    <div class="handle"></div>
  </div>

  <div class="main__grid__widget main__grid__widget__scoreboard main__grid__widget__courses aspect-1x3-lg">
    <div class="main__grid__widget__courses__header">
      <h3>Courses</h3>
      <span>4</span>
    </div>

    <ul class="main__grid__widget__courses__content">
      <li class="main__grid__widget__courses__content__element">
        <span>Course name</span>
        <span>Dr. Mohamed</span>
        <span>30 stu</span>
      </li>

      <li class="main__grid__widget__courses__content__element">
        <span>Course name</span>
        <span>Dr. Mohamed</span>
        <span>30 stu</span>
      </li>
      
      <li class="main__grid__widget__courses__content__element">
        <span>Course name</span>
        <span>Dr. Mohamed</span>
        <span>30 stu</span>
      </li>

      <li class="main__grid__widget__courses__content__element">
        <span>Course name</span>
        <span>Dr. Mohamed</span>
        <span>30 stu</span>
      </li>
    </ul>
    <div class="handle"></div>
  </div>

  <div class="main__grid__widget main__grid__widget__calendar aspect-1x1-med">

    <div class="handle"></div>
  </div>

</div>  