<div class="student_info">
    <div class="student_info__gpa_progress">
        <div class="student_info__gpa_progress__bar"></div>
    </div>
    <h1 class="student_info__student_name">Student Name</h1>
    <h3 class="student_info__student_id">11121111</h3>
    <div class="student_info__hours_left">
        <div class="student_info__hours_left__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24.584"
                height="24.584" viewBox="0 0 24.584 24.584">
                <g id="Icon_feather-clock" data-name="Icon feather-clock" transform="translate(1 1)">
                    <path id="Path_170" data-name="Path 170"
                        d="M25.584,14.292A11.292,11.292,0,1,1,14.292,3,11.292,11.292,0,0,1,25.584,14.292Z"
                        transform="translate(-3 -3)" fill="none" stroke="#5350f7" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2" />
                    <path id="Path_171" data-name="Path 171" d="M18,9v6.775l4.517,2.258"
                        transform="translate(-6.708 -4.483)" fill="none" stroke="#5350f7" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2" />
                </g>
            </svg>
        </div>
        <div class="student_info__hours_left__text">
            <h2 class="student_info__hours_left__text__1"><span>36</span>Hours</h2>
            <h2 class="student_info__hours_left__text__1">To be graduate</h2>
        </div>
    </div>
    <div class="student_info__summary">
        <div class="student_info__summary__item">
            <h2 class="student_info__summary__item__top">4</h2>
            <h2 class="student_info__summary__item__bottom">Level</h2>
        </div>
        <div class="student_info__summary__item">
            <h2 class="student_info__summary__item__top">3.32</h2>
            <h2 class="student_info__summary__item__bottom">CGPA</h2>
        </div>
        <div class="student_info__summary__item">
            <h2 class="student_info__summary__item__top">173</h2>
            <h2 class="student_info__summary__item__bottom">TPA</h2>
        </div>
    </div>
    <div class="student_info__extra">
        <h3 class="student_info__extra__item"><span>Faculty:</span>Engineering</h3>
        <h3 class="student_info__extra__item"><span>Programe:</span>Communications Engineering</h3>
        <h3 class="student_info__extra__item"><span>Guide:</span>Guid Name</h3>
        <h3 class="student_info__extra__item"><span>Status:</span>Regular</h3>
    </div>
</div>

<div class="detailed_info">
    <div class="detailed_info__tabs">

        <div class="detailed_info__tabs__item detailed_info__tabs__item--active">
            <h3 class="detailed_info__tabs__item__label">Personal Info</h3>
        </div>

        <div class="detailed_info__tabs__item">
            <h3 class="detailed_info__tabs__item__label">Program Chart</h3>
        </div>
        <div class="detailed_info__tabs__item">
            <h3 class="detailed_info__tabs__item__label">Course Title</h3>
        </div>
        <div class="detailed_info__tabs__item">
            <h3 class="detailed_info__tabs__item__label">GPA Progress</h3>
        </div>
        <div class="detailed_info__tabs__item">
            <h3 class="detailed_info__tabs__item__label">History</h3>
        </div>
    </div>
    <div class="detailed_info__content">
        <div class="detailed_info__content__item">
            <h3 class="detailed_info__content__item__label">Student Name:</h3>
            <h3 class="detailed_info__content__item__value">Reem Yousef Ahmed El-Syed</h3>
            <div class="detailed_info__content__item__edit"></div>
        </div>
        <div class="detailed_info__content__item">
            <h3 class="detailed_info__content__item__label">E-Mail:</h3>
            <h3 class="detailed_info__content__item__value">Reem.Yousef12@gmail.comb</h3>
            <div class="detailed_info__content__item__edit"><svg xmlns="http://www.w3.org/2000/svg" width="13.947"
                    height="13.811" viewBox="0 0 13.947 13.811">
                    <g id="Icon_feather-edit" data-name="Icon feather-edit" transform="translate(1 1)">
                        <path id="Path_172" data-name="Path 172"
                            d="M8.283,6H4.174A1.174,1.174,0,0,0,3,7.174v8.218a1.174,1.174,0,0,0,1.174,1.174h8.218a1.174,1.174,0,0,0,1.174-1.174V11.283"
                            transform="translate(-3 -4.755)" fill="none" stroke="#1c1d21" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                        <path id="Path_173" data-name="Path 173"
                            d="M18.164,3.183a1.245,1.245,0,0,1,1.761,1.761L14.348,10.52,12,11.107l.587-2.348Z"
                            transform="translate(-8.478 -2.818)" fill="none" stroke="#1c1d21" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                    </g>
                </svg>
            </div>
        </div>
        <div class="detailed_info__content__item">
            <h3 class="detailed_info__content__item__label">Number:</h3>
            <h3 class="detailed_info__content__item__value">01123924166</h3>
            <div class="detailed_info__content__item__edit"><svg xmlns="http://www.w3.org/2000/svg" width="13.947"
                    height="13.811" viewBox="0 0 13.947 13.811">
                    <g id="Icon_feather-edit" data-name="Icon feather-edit" transform="translate(1 1)">
                        <path id="Path_172" data-name="Path 172"
                            d="M8.283,6H4.174A1.174,1.174,0,0,0,3,7.174v8.218a1.174,1.174,0,0,0,1.174,1.174h8.218a1.174,1.174,0,0,0,1.174-1.174V11.283"
                            transform="translate(-3 -4.755)" fill="none" stroke="#1c1d21" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                        <path id="Path_173" data-name="Path 173"
                            d="M18.164,3.183a1.245,1.245,0,0,1,1.761,1.761L14.348,10.52,12,11.107l.587-2.348Z"
                            transform="translate(-8.478 -2.818)" fill="none" stroke="#1c1d21" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                    </g>
                </svg>
            </div>
        </div>
    </div>
</div>