
  <div class="login__logobox">
    <div class="login__logobox__logo">12</div>
    <div class="login__logobox__logo_description"><a href="">Learning Management System</a></div>
    <div class="login__logobox__toggle">
      <span class="fa-fw select-all far"></span>
    </div>
  </div>

<div class="login_cont">

  <div class="login_cont__description">
    <h1 class="login_cont__description__name">UNIVERSITY NAME</h1>
    <p class="login_cont__description__text">our goal is quality not quantity</p>
  </div>

  <div class="login_cont__login_form">
    <h3 class="login_cont__login_form__title">Login</h3>
    <div class="login_cont__login_form__user_type">
      <div class="login_cont__login_form__user_type__item login_cont__login_form__user_type__item--active">
        <h3 class="login_cont__login_form__user_type__item__lable">Student</h3>
      </div>
      <div class="login_cont__login_form__user_type__item">
        <h3 class="login_cont__login_form__user_type__item__lable">Parent</h3>
      </div>
      <div class="login_cont__login_form__user_type__item">
        <h3 class="login_cont__login_form__user_type__item__lable">Stuff</h3>
      </div>
    </div>
    <form action="/login" method="post" class="login_cont__login_form__form">

      <input type="text" name="username" id="username" value="randome_account" class="login_cont__login_form__form__username">
      <input type="password" name="password" value="randome_account" id="password" class="login_cont__login_form__form__password">
      <input type="submit" value="submit" class="login_cont__login_form__form__login">
    </form>
  </div>
</div>