<div class="unv-logo">
  <div class="unv-logo__icon">
    <img src="/imgs/lms-icon.png">
  </div>
  <div class="unv-logo__text">
    Learning Management System
  </div>
</div>

<div class="body">
  <div class="body__text">
    <h1>university name</h1>
    <p>Lorem ipsum dolor s. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, recusandae.</p>
  </div>

  <div class="body__form-wrapper">
    <form  action="/login" method="post"  class="body__form-wrapper__form">

      <h2>Login</h2>

      <div class="body__form-wrapper__form__controls">

        <input type="radio" name="options" id="student" value="student" checked>
        <label for="student">Student</label>
       
        <input type="radio" name="options" id="parent" value="parent">
        <label for="parent">parent</label>
        
        <input type="radio" name="options" id="staff" value="staff">
        <label for="staff">Staff</label>

      </div>

      <input type="text"  name="user" placeholder="username" value="anyuser">
      <input type="password"  name="pass" placeholder="password" value="anyuser">
      <input type="submit"  value="login">
    </form>
  </div>

</div>
<div class="overlay"></div>