<!-- Settings Here -->
<ul class="settings-container">

  <li class="settings-container__settings" data-setting="general">

    <button>
      <i class="fa-solid fa-gear"></i>
      General
    </button>
    <div class="content-container">
      <div class="content-container__wrapper">

      </div>
    </div>
  </li>

  <li class="settings-container__settings">
    <button>
      <i class="fa-solid fa-paint-roller"></i>
      Appearance
    </button>
    <div class="content-container">
      <div class="content-container__wrapper ">
        <div>
          <h3>Theme</h3>
          <p>Customise your UI theme</p>
        </div>

        <div class="container-wrap">
          <div class="theme_mode__light active">
            <span>light</span>
          </div>
          <div class="theme_mode__dark">
            <span>dark</span>
          </div>
        </div>

        <hr>

        <div class="wrap">
          <div>
            <h3>Color Scheme</h3>
            <p>Customise your UI theme</p>
          </div>
          <ul>
            <li data-colorTheme="red" class="active"></li>
            <li data-colorTheme="yellow"></li>
            <li data-colorTheme="black"></li>
            <li data-colorTheme="blue"></li>
          </ul>
        </div>

        <hr>

        <div class="wrap">
          <div>
            <h3>Font style</h3>
            <p>Chose your font style</p>
          </div>
          <ul>
            <li class="active">Ag</li>
            <li class="bold-text">Ag</li>
            <li class="extreme-text">Ag</li>

          </ul>
        </div>

        <hr>

        <div>
          <h3>User Complexity</h3>
          <p>Chose your complexity</p>
        </div>

        <div class="container-wrap">
          <div>
            <span>Default UI</span>
          </div>
          <div class="active">
            <span>Simplier UI</span>
          </div>
        </div>

        <!-- </div> -->
      </div>

    </div>
  </li>


  <li class="settings-container__settings">
    <button>
      <i class="fa-solid fa-bell"></i>
      Notification
    </button>
    <div class="content-container">
      <div class="content-container__wrapper ">
        
      </div>

    </div>
  </li>

  <li class="settings-container__settings" data-setting="changePassword">
    <button>
      <i class="fa-solid fa-globe"></i>
      Language
    </button>
    <div class="content-container">
      <div class="content-container__wrapper ">
        <h3>Change password</h3>
        <hr>
        <input type="password" placeholder="Current password">
        <input type="password" placeholder="New password">
        <input type="password" placeholder="confirm password">
        <input type="submit" class="confirm-btn" value="Confirm">
      </div>

    </div>
  </li>


  <li class="settings-container__settings" data-setting="changePassword">
    <button>
      <i class="fa-solid fa-lock"></i>
      Privacy and Security
    </button>
    <div class="content-container">
      <div class="content-container__wrapper ">
        <h3>Change password</h3>
        <hr>
        <input type="password" placeholder="Current password">
        <input type="password" placeholder="New password">
        <input type="password" placeholder="confirm password">
        <input type="submit" class="confirm-btn" value="Confirm">
      </div>

    </div>
  </li>

  <li class="settings-container__settings">
    <button>
      <i class="fa-solid fa-life-ring"></i>
      Help and Support
    </button>
    <div class="content-container">
      <div class="content-container__wrapper ">

      </div>

    </div>
  </li>
</ul>