    <div class="container" style="flex-direction:column;height:100%;display:flex;justify-content:center;align-items:center">

      <h1>File Uploader</h1>
      <form id="uploadForm" dat-id=<%= data %>>
        <input type="file" id="myFiles" accept="image/*" />
        <input type="hidden" id="dat-id" value=<%= data %> />
        <button>Submit</button>
      </form>
      <h2></h2>
      <h3></h3>
      <script>
        const form = document.getElementById('uploadForm')
        // console.log('AAA')
        const sendFiles = async () => {
          // Object 
          const myFiles = document.getElementById('myFiles').files

          const formData = new FormData()

          Object.keys(myFiles).forEach(key => {
            formData.append(myFiles.item(key).name, myFiles.item(key))
          })
          console.log(formData.keys())
          const response = await fetch(`${window.location.origin}/upload/` + "<%= data %>", {
            method: 'POST',
            body: formData
          })

          const json = await response.json()

          const h2 = document.querySelector('h2')
          h2.textContent = `Status: ${json?.status}`

          const h3 = document.querySelector('h3')
          h3.textContent = json?.message



          console.log(json)
        }

        form.addEventListener('submit', (e) => {
          e.preventDefault()
          sendFiles()
        })
      </script>

    </div>