<div class="change_pass">
    <div class="change_pass__item">
        <h3 class="change_pass__item__label">New Password:</h3>
        <h3 class="change_pass__item__value"><svg xmlns="http://www.w3.org/2000/svg" width="10.944" height="10.944"
                viewBox="0 0 10.944 10.944">
                <ellipse id="Ellipse_154" data-name="Ellipse 154" cx="5.472" cy="5.472" rx="5.472" ry="5.472"
                    fill="#707070" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="10.944" height="10.944" viewBox="0 0 10.944 10.944">
                <ellipse id="Ellipse_154" data-name="Ellipse 154" cx="5.472" cy="5.472" rx="5.472" ry="5.472"
                    fill="#707070" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="10.944" height="10.944" viewBox="0 0 10.944 10.944">
                <ellipse id="Ellipse_154" data-name="Ellipse 154" cx="5.472" cy="5.472" rx="5.472" ry="5.472"
                    fill="#707070" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="10.944" height="10.944" viewBox="0 0 10.944 10.944">
                <ellipse id="Ellipse_154" data-name="Ellipse 154" cx="5.472" cy="5.472" rx="5.472" ry="5.472"
                    fill="#707070" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="10.944" height="10.944" viewBox="0 0 10.944 10.944">
                <ellipse id="Ellipse_154" data-name="Ellipse 154" cx="5.472" cy="5.472" rx="5.472" ry="5.472"
                    fill="#707070" />
            </svg>
        </h3>

    </div>
    <div class="change_pass__item">
        <h3 class="change_pass__item__label">Current Password</h3>
        <h3 class="change_pass__item__value"><svg xmlns="http://www.w3.org/2000/svg" width="10.944" height="10.944"
                viewBox="0 0 10.944 10.944">
                <ellipse id="Ellipse_154" data-name="Ellipse 154" cx="5.472" cy="5.472" rx="5.472" ry="5.472"
                    fill="#707070" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="10.944" height="10.944" viewBox="0 0 10.944 10.944">
                <ellipse id="Ellipse_154" data-name="Ellipse 154" cx="5.472" cy="5.472" rx="5.472" ry="5.472"
                    fill="#707070" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="10.944" height="10.944" viewBox="0 0 10.944 10.944">
                <ellipse id="Ellipse_154" data-name="Ellipse 154" cx="5.472" cy="5.472" rx="5.472" ry="5.472"
                    fill="#707070" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="10.944" height="10.944" viewBox="0 0 10.944 10.944">
                <ellipse id="Ellipse_154" data-name="Ellipse 154" cx="5.472" cy="5.472" rx="5.472" ry="5.472"
                    fill="#707070" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="10.944" height="10.944" viewBox="0 0 10.944 10.944">
                <ellipse id="Ellipse_154" data-name="Ellipse 154" cx="5.472" cy="5.472" rx="5.472" ry="5.472"
                    fill="#707070" />
            </svg>
        </h3>

    </div>
    <div class="change_pass__item">
        <h3 class="change_pass__item__label">Cnfirm Password:</h3>
        <h3 class="change_pass__item__value"><svg xmlns="http://www.w3.org/2000/svg" width="10.944" height="10.944"
                viewBox="0 0 10.944 10.944">
                <ellipse id="Ellipse_154" data-name="Ellipse 154" cx="5.472" cy="5.472" rx="5.472" ry="5.472"
                    fill="#707070" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="10.944" height="10.944" viewBox="0 0 10.944 10.944">
                <ellipse id="Ellipse_154" data-name="Ellipse 154" cx="5.472" cy="5.472" rx="5.472" ry="5.472"
                    fill="#707070" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="10.944" height="10.944" viewBox="0 0 10.944 10.944">
                <ellipse id="Ellipse_154" data-name="Ellipse 154" cx="5.472" cy="5.472" rx="5.472" ry="5.472"
                    fill="#707070" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="10.944" height="10.944" viewBox="0 0 10.944 10.944">
                <ellipse id="Ellipse_154" data-name="Ellipse 154" cx="5.472" cy="5.472" rx="5.472" ry="5.472"
                    fill="#707070" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="10.944" height="10.944" viewBox="0 0 10.944 10.944">
                <ellipse id="Ellipse_154" data-name="Ellipse 154" cx="5.472" cy="5.472" rx="5.472" ry="5.472"
                    fill="#707070" />
            </svg>
        </h3>

    </div>

    <a href="#" class="change_pass__save">
        <h3 class="changn_pass__save__label">confirm</h3>
    </a>
</div>