<div class="theme">


    <div class="theme__item">
        <div class="theme__item__header theme__item__header--block">
            <h2 class="theme__item__header__title">Appearance</h2>
            <h4 class="theme__item__header__description"></h4>
        </div>
        <div class="theme__item__body"></div>
    </div>

    <div class="theme__item">
        <div class="theme__item__header">
            <h2 class="theme__item__header__title">Theme</h2>
            <h4 class="theme__item__header__description">Customize your UI theme</h4>
        </div>

        <div class="theme__item__body">

            <ul class="theme__item__body__list">
                <li
                    class="theme__item__body__list__item theme__item__body__list__item--active theme__item__body__list__item--light">
                    <div class="theme__item__body__list__item__checkbox">
                        <input class="checkbox_select" type="checkbox" name="" id="">
                        <div class="checked_sign">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.532" height="10.641"
                                viewBox="0 0 14.532 10.641">
                                <path id="Path_216" data-name="Path 216" d="M15469,10593.34l3.27,3.27,7.021-7.021"
                                    transform="translate(-15466.88 -10587.468)" fill="none" stroke="#fff"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                            </svg>
                        </div>

                    </div>
                </li>
                <li class="theme__item__body__list__item theme__item__body__list__item--dark">
                    <div class="theme__item__body__list__item__checkbox">
                        <input class="checkbox_select" type="checkbox" name="" id="">
                        <div class="checked_sign">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.532" height="10.641"
                                viewBox="0 0 14.532 10.641">
                                <path id="Path_216" data-name="Path 216" d="M15469,10593.34l3.27,3.27,7.021-7.021"
                                    transform="translate(-15466.88 -10587.468)" fill="none" stroke="#fff"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>


        </div>
    </div>




    <div class="theme__item theme__item--land ">
        <div class="theme__item__header">
            <h2 class="theme__item__header__title">Color Scheme</h2>
            <h4 class="theme__item__header__description">Customize it with your decent color combination
            </h4>
        </div>
        <div class="theme__item__body">
            <ul class="theme__item__body__list theme__item__body__list--land">

                <li
                    class="theme__item__body__list__item theme__item__body__list__item--color theme__item__body__list__item--active">
                    <div class="theme__item__body__list__item__checkbox">
                        <input class="checkbox_select" type="checkbox" name="" id="">
                        <div class="checked_sign">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.532" height="10.641"
                                viewBox="0 0 14.532 10.641">
                                <path id="Path_216" data-name="Path 216" d="M15469,10593.34l3.27,3.27,7.021-7.021"
                                    transform="translate(-15466.88 -10587.468)" fill="none" stroke="#fff"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                            </svg>
                        </div>
                    </div>
                </li>

                <li class="theme__item__body__list__item theme__item__body__list__item--color">
                    <div class="theme__item__body__list__item__checkbox">
                        <input class="checkbox_select" type="checkbox" name="" id="">
                        <div class="checked_sign">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.532" height="10.641"
                                viewBox="0 0 14.532 10.641">
                                <path id="Path_216" data-name="Path 216" d="M15469,10593.34l3.27,3.27,7.021-7.021"
                                    transform="translate(-15466.88 -10587.468)" fill="none" stroke="#fff"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                            </svg>
                        </div>
                    </div>
                </li>

                <li class="theme__item__body__list__item theme__item__body__list__item--color">
                    <div class="theme__item__body__list__item__checkbox">
                        <input class="checkbox_select" type="checkbox" name="" id="">
                        <div class="checked_sign">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.532" height="10.641"
                                viewBox="0 0 14.532 10.641">
                                <path id="Path_216" data-name="Path 216" d="M15469,10593.34l3.27,3.27,7.021-7.021"
                                    transform="translate(-15466.88 -10587.468)" fill="none" stroke="#fff"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                            </svg>
                        </div>
                    </div>
                </li>

                <li class="theme__item__body__list__item theme__item__body__list__item--color">
                    <div class="theme__item__body__list__item__checkbox">
                        <input class="checkbox_select" type="checkbox" name="" id="">
                        <div class="checked_sign">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.532" height="10.641"
                                viewBox="0 0 14.532 10.641">
                                <path id="Path_216" data-name="Path 216" d="M15469,10593.34l3.27,3.27,7.021-7.021"
                                    transform="translate(-15466.88 -10587.468)" fill="none" stroke="#fff"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                            </svg>
                        </div>
                    </div>
                </li>

            </ul>

        </div>
    </div>

    <div class="theme__item theme__item--land">

        <div class="theme__item__header">
            <h2 class="theme__item__header__title">Font Style</h2>
            <h4 class="theme__item__header__description">Chose your font style</h4>
        </div>
        <div class="theme__item__body">
            <ul class="theme__item__body__list theme__item__body__list--land">
                <li
                    class="theme__item__body__list__item theme__item__body__list__item--active theme__item__body__list__item--font">

                    <div class="theme__item__body__list__item__checkbox">
                        <input class="checkbox_select" type="checkbox" name="" id="">
                        <div class="checked_sign">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.532" height="10.641"
                                viewBox="0 0 14.532 10.641">
                                <path id="Path_216" data-name="Path 216" d="M15469,10593.34l3.27,3.27,7.021-7.021"
                                    transform="translate(-15466.88 -10587.468)" fill="none" stroke="#fff"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                            </svg>
                        </div>
                    </div>
                </li>
                <li class="theme__item__body__list__item theme__item__body__list__item--font">
                    <div class="theme__item__body__list__item__checkbox">
                        <input class="checkbox_select" type="checkbox" name="" id="">
                        <div class="checked_sign">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.532" height="10.641"
                                viewBox="0 0 14.532 10.641">
                                <path id="Path_216" data-name="Path 216" d="M15469,10593.34l3.27,3.27,7.021-7.021"
                                    transform="translate(-15466.88 -10587.468)" fill="none" stroke="#fff"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                            </svg>
                        </div>
                    </div>
                </li>
                <li class="theme__item__body__list__item theme__item__body__list__item--font">
                    <div class="theme__item__body__list__item__checkbox">
                        <input class="checkbox_select" type="checkbox" name="" id="">
                        <div class="checked_sign">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.532" height="10.641"
                                viewBox="0 0 14.532 10.641">
                                <path id="Path_216" data-name="Path 216" d="M15469,10593.34l3.27,3.27,7.021-7.021"
                                    transform="translate(-15466.88 -10587.468)" fill="none" stroke="#fff"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>





    <div class="theme__item">
        <div class="theme__item__header">
            <h2 class="theme__item__header__title">User Complexity</h2>
            <h4 class="theme__item__header__description">Chose your complexity</h4>
        </div>
        <div class="theme__item__body">
            <ul class="theme__item__body__list">
                <li
                    class="theme__item__body__list__item theme__item__body__list__item--active  theme__item__body__list__item--default">
                    <div class="theme__item__body__list__item__checkbox">
                        <input class="checkbox_select" type="checkbox" name="" id="">
                        <div class="checked_sign">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.532" height="10.641"
                                viewBox="0 0 14.532 10.641">
                                <path id="Path_216" data-name="Path 216" d="M15469,10593.34l3.27,3.27,7.021-7.021"
                                    transform="translate(-15466.88 -10587.468)" fill="none" stroke="#fff"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                            </svg>
                        </div>
                    </div>
                </li>
                <li class="theme__item__body__list__item theme__item__body__list__item--simple">
                    <div class="theme__item__body__list__item__checkbox">
                        <input class="checkbox_select" type="checkbox" name="" id="">
                        <div class="checked_sign">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.532" height="10.641"
                                viewBox="0 0 14.532 10.641">
                                <path id="Path_216" data-name="Path 216" d="M15469,10593.34l3.27,3.27,7.021-7.021"
                                    transform="translate(-15466.88 -10587.468)" fill="none" stroke="#fff"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>