<div class="activity-center">

  <!-- Desktop Version -->
  <div class="content-number">
    +5
  </div>

  <!-- Mobile Version -->
  <div class="term-timing">Fall 2022 - 2023</div>

  <div class="mobile-content">

    <div class="mobile-content__hotkeys">
      <i class="fa-solid fa-home"></i>
      <i class="fa-solid fa-book"></i>
      <i class="fa-solid fa-lock"></i>
      <i class="fa-solid fa-moon"></i>
      <i class="fa-solid fa-gear"></i>
    </div>

    <hr class="mobile-content__seperator">

    <button class="mobile-content__btn" data-uploadBtn="">
      <input type="file" data-hiddenBtn multiple="">
      Upload File(s)
    </button>

    <button class="mobile-content__uploaded-btn" data-uploadFilesBtn="">
      <span data-uploadedFilesCount="">0 File(s) uploded</span>
      <i class="fa-solid fa-angle-right"></i>
    </button>

    <!-- Upload Files -->
    <ul class="mobile-content__uploaded-files" data-uploadFilesContainer="">
      <!-- Files Goes Here -->

    </ul>
  </div>
</div>

<script src="/js/activityCenter.js" defer></script>